<h2 class="text-warning fw-bold mt-4 mb-3 text-center">✏️ Editar Evento</h2>
<%= render 'form', agenda: @agenda %>

<div class="text-center mt-3">
  <%= link_to '← Volver a Agenda', agenda_laboratoristas_path, class: 'btn btn-secondary' %>
</div>
